.bg-primary{
    background-color:#b9dbf7ea;
}
table,tr,td,th {
 width:fit-content;
 text-align: center;
 padding:10px;
 border: 1px solid black;;
}
th{
    background-color: #6cb0e7;
}
a{
    color:black;
}
tr:hover td{
    background-color:#b9dbf7ea;
}
th:hover{
    background-color: #b9dbf7ea;
}
