<!DOCTYPE html>
<html>
<head>
  <title>R B Associates</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/Stylesheet.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- for Deployment-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- for Development-->
</head>

<body>
  <div id ="app">
  
  <form method="POST" action="">
      <nav class=" navbar navbar-expand-lg fixed-top " style="background-color: #dbeaf6ea;">
        <a class="navbar-brand" href="#">R B Associates</a>
        <button class="ml-auto mr-2 btn btn-outline-danger" name='logout'><i class="fas fa-power-off"></i></button>  
      </nav>
  </form>
  

  <div class="col-sm-# rounded" style="margin: 10%;padding:1%;margin-bottom: 3%;background-color: #6cb0e7;" >
    <div class="form-inline">
    <form class ="form" method ="POST" action="">
      <select class="form-control mr-2" name='Criteria'>
        <option selected>Select Criteria</option>
        <option :value="[[ col[1] ]]">ETA DATE PQ NOC</option>
        <option :value="[[ col[2] ]]">JOB NO FSSAI NOC</option>
        <option :value="[[ col[3] ]]">IMPORTER KYC</option>
        <option :value="[[ col[4] ]]">BL</option>
        <option :value="[[ col[5] ]]">NO. OF PCKGS DELIVERY ORDER</option>
        <option :value="[[ col[6] ]]">INVOICE NUMBER</option>
        <option :value="[[ col[7] ]]">COMMODITY COO </option>
        <option :value="[[ col[8] ]]">BILL OF ENTRY</option>
        <option :value="[[ col[9] ]]">BE DATE EXM ORDER</option>
        <option :value="[[ col[10] ]]">CONTAINER NO PACKING LIST</option>
        <option :value="[[ col[11] ]]">PHYTO CERT</option>
        <option :value="[[ col[12] ]]">STAMP DUTY</option>
        <option :value="[[ col[13] ]]">YIELD CERT</option>
        <option :value="[[ col[14] ]]">SHIPPING RECEIPT</option>
        <option :value="[[ col[15] ]]">CFS RECEIPT</option>
        <option :value="[[ col[16] ]]">DUTY RECEIPT</option>
        <option :value="[[ col[17] ]]">PQ RECEIPT</option>
        <option :value="[[ col[18] ]]">FSSAI RECEIPT</option>
        <option :value="[[ col[19] ]]">SURVEY RECEIPT</option>
        <option :value="[[ col[20] ]]">OTHER RECEIPTS</option>
        <option :value="[[ col[21] ]]">RBA BILL PART A</option>
        <option :value="[[ col[22] ]]">RBA BILL PART B</option>
      </select>
      <input class="form-control mr-2" type="text" placeholder="Search" name='search'>
      <button class="form-control  mr-5 btn btn-outline-light shadow-none "class="btn" type="submit" name="search_b"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form> 
    <div class="dropdown mr-0 ml-auto">
      
        <button class="btn btn-outline-light  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="Filter">
          <i class="fa fa-filter" aria-hidden="true"></i> Filter 
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" name="Status">
          <a class="dropdown-item " href="{{ url_for('status', my_var = '0')}}"  value="0">Pending</a>
          <a class="dropdown-item"  href="{{ url_for('status', my_var = '1')}}"  value="1">Delayed</a>
          <a class="dropdown-item"  href="{{ url_for('status', my_var = '2')}}" value="2">Completed</a>
        </div>
      
    </div>
    <a class="btn btn-outline-light d-inline-block mr-0 ml-2" href="{{ url_for('upload') }}"><i class="fa fa-upload" aria-hidden="true"></i> Add Entry</a>
  </div>
  
  </div>
  <center><h3 style="position: relative;"  class='my-3'>[[message]]  </h3></center>
  <div style="overflow-x: auto;" >
    <center><table class="rounded">
    
      
      <tr>
        {% if current_view!='Delayed' %}
        <th>Mark Completed</th>
        {% endif %} 			
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[1] ]]">ETA DATE PQ NOC</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[2] ]]">JOB NO FSSAI NOC</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[3] ]]">IMPORTER KYC</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[4] ]]">BL</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[5] ]]">NO. OF PCKGS DELIVERY ORDER</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[6] ]]">INVOICE NUMBER </button></form>	</th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[7] ]]">COMMODITY COO </button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[8] ]]">BILL OF ENTRY</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[9] ]]">BE DATE EXM ORDER</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[10] ]]">CONTAINER NO PACKING LIST </button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[11] ]]">PHYTO CERT</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[12] ]]">STAMP DUTY</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[13] ]]">YIELD CERT</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[14] ]]">SHIPPING RECEIPT</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[15] ]]">CFS RECEIPT</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[16] ]]">DUTY RECEIPT</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[17] ]]">PQ RECEIPT</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[18] ]]">FSSAI RECEIPT</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[19] ]]">SURVEY RECEIPT</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[20] ]]">OTHER RECEIPTS</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[21] ]]">RBA BILL PART A</button></form></th>
        <th><form method="POST" action="{{ url_for('sorted') }}" ><button class="btn font-weight-bold" name="c1" type="submit" :value="[[ col[22] ]]">RBA BILL PART B</button></form></th>    
      </tr>
      
    <tr v-for='i in da' >
      <!-- <b v-if='date >[[i[1] ]]'> -->
        {% if current_view!='Delayed' %}
          <td><form method="POST" action="{{ url_for('docview') }}" ><input type="checkbox" name = "[[ i[0] ]]"  {{status_check}}> <button type="submit" class="btn btn-sm btn-outline-secondary py-0 pl-1 pr-1" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="fas fa-sync"></i></button></form></td> 
        {% endif %}
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[1] ]]" >[[  i[1] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[2] ]]" >[[  i[2] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[3] ]]" >[[  i[3] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[4] ]]" >[[  i[4] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[5] ]]" >[[  i[5] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[6] ]]" >[[  i[6] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[7] ]]" >[[  i[7] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[8] ]]" >[[  i[8] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[9] ]]" >[[  i[9] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[10] ]]" >[[ i[10] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[11] ]]" >[[ i[11] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[12] ]]" >[[ i[12] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[13] ]]" >[[ i[13] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[14] ]]" >[[ i[14] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[15] ]]" >[[ i[15] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[16] ]]" >[[ i[16] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[17] ]]" >[[ i[17] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[18] ]]" >[[ i[18] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[19] ]]" >[[ i[19] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[20] ]]" >[[ i[20] ]] </button> </form></td>        
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[21] ]]" >[[ i[21] ]] </button> </form></td>
        <td><form method="POST" action="{{ url_for('docview') }}" ><button class="btn" type="submit" name = "b1":value="[[ i[0] ]] +'^'+ [[ col[22] ]]" >[[ i[22] ]] </button> </form></td>
      <!-- </b v-if='date >[[i[1] ]]'>  -->
      </tr></center>
    </table>
  </div>
  </div>
  {%block scripts%}
  <script>
    
    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        message: {{current_view|tojson}},
        da: {{temp_data|tojson}},
        col: {{col_data|tojson}},
        date: {{date|tojson}}
      }
    })
           
  </script>
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>