<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheet.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- for Deployment-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- for Development-->

</head>
<body>
    <nav class=" navbar navbar-expand-lg fixed-top " style="background-color: #dbeaf6ea;">
        
        <a class="navbar-brand" href="#">R B Associates Clearing And Forwarding Agency Private Limited</a>
    </nav>
    <div class="col-sm-4" style="border: 2px;margin-top: 18%;margin-left:30%">
       <center> <h3>Login</h3>
        <hr class="my-3">
        <form class="form" method="POST" action="">
            <input class="form-control my-2" type="text" name="uname" placeholder="Enter Username" required>
            <input class="form-control my-2" type="password" name="pass" placeholder="Password" required>
            <input class="form-control btn btn-secondary"type="submit" value="login"> 
        </form> 
    </center>
    </div>