<!DOCTYPE html>
<html>
<head>
<title>Vue app</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/Stylesheet.css">
<script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- for Deployment-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- for Development-->

</head>
<body>
<form class="form-inline mt-5" method="POST" enctype="multipart/form-data">
    <div class="conatiner" style="margin:2px">
        <div class="row " style="border: 2px solid black;background-color: #08768f71;">
        
            <div class="col-sm-4"style="border-right: 2px solid black;">
            
                                    
                    <b>ETA DATE PQ NOC</b> <input type=text class="form form-control-sm" placeholder="Enter field 1"name='f1'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d01" ><br>
                    <b>JOB NO FSSAI NOC</b> <input type=text class="form form-control-sm" placeholder="Enter field 2"name='f2'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d02" ><br>
                    <b>IMPORTER KYC</b> <input type=text class="form form-control-sm" placeholder="Enter field 3"name='f3'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d03" ><br>
                    <b>SHIPPER BL</b> <input type=text class="form form-control-sm" placeholder="Enter field 4"name='f4'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d04" ><br>
                    <b>NO. OF PCKGS DELIVERY ORDER</b> <input type=text class="form form-control-sm" placeholder="Enter field 5"name='f5'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d05" ><br>
                    <b>INVOICE NUMBER</b> <input type=text class="form form-control-sm" placeholder="Enter field 6"name='f6'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d06" ><br>
                    <b>COMMODITY COO</b> <input type=text class="form form-control-sm" placeholder="Enter field 7"name='f7'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d07" ><br>
                    <b>BILL OF ENTRY</b> <input type=text class="form form-control-sm" placeholder="Enter field 8"name='f8'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d08" ><br>
            </div>
            <div class="col-sm-4" style="border-right: 2px solid black;"> 
                    <b>BE DATE EXM ORDER</b> <input type=text class="form form-control-sm" placeholder="Enter field 9"name='f9'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d09" ><br>
                    <b> CONTAINER NO PACKING LIST</b> <input type=text class="form form-control-sm" placeholder="Enter field 10"name='f10'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d10"><br>
                    <b> PHYTO CERT</b> <input type=text class="form form-control-sm" placeholder="Enter field 11"name='f11'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d11"><br>
                    <b>STAMP DUTY</b> <input type=text class="form form-control-sm" placeholder="Enter field 12"name='f12'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d12"><br>
                    <b>YIELD CERT</b> <input type=text class="form form-control-sm" placeholder="Enter field 13"name='f13'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d13"><br>
                    <b>SHIPPING RECEIPT</b> <input type=text class="form form-control-sm" placeholder="Enter field 14"name='f14'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d14" ><br>
                    <b>CFS RECEIPT</b> <input type=text class="form form-control-sm" placeholder="Enter field 15"name='f15'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d15" ><br>
                    <b>DUTY RECEIPT</b> <input type=text class="form form-control-sm" placeholder="Enter field 16"name='f16'>
                    <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d16" ><br>
            
            </div>
            <div class="col-sm-4">
                    
                        <b>PQ RECEIPT</b> <input type=text class="form form-control-sm" placeholder="Enter field 17"name='f17'>
                        <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d18"><br>
                        <b>FSSAI RECEIPT</b> <input type=text class="form form-control-sm" placeholder="Enter field 18"name='f18'>
                        <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d19"><br>
                        <b>SURVEY RECEIPT</b> <input type=text class="form form-control-sm" placeholder="Enter field 19"name='f19'>
                        <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d21"><br>
                        <b>OTHER RECEIPTS</b> <input type=text class="form form-control-sm" placeholder="Enter field 20"name='f20'>
                        <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d22"><br>
                        <b>RBA BILL PART A</b> <input type=text class="form form-control-sm" placeholder="Enter field 21"name='f21'>
                        <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d23"><br>
                        <b>RBA BILL PART B</b> <input type=text class="form form-control-sm" placeholder="Enter field 22"name='f22'>
                        <input type="file"class="  form-control-file-md" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d24"><br>
                        <input type="checkbox"  name="f23" placeholder="pending"> Pending<br>
                        <input type="checkbox"  value="Delayed" name="f24"> Delayed

            </div>
            </div>
        
    <div class="row mt-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
                <center><input type="Submit" class="btn  btn-outline-dark" value="Upload" name='Upload' ></center>                    
        </div>
        </div>
    </div>
    
    
    
</form>