<!DOCTYPE html>
<html>
<head>
<title>R B Associates</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/Stylesheet.css">
<script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- for Deployment-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- for Development-->

</head>
<body>
    <form method="POST" action="">
        <nav class=" navbar navbar-expand-lg fixed-top " style="background-color: #dbeaf6ea;">
          <a class="navbar-brand" href="#">R B Associates</a>
          <button class="ml-auto mr-2 btn btn-outline-danger" name='logout'><i class="fas fa-power-off"></i></button>  
        </nav>
    </form>
    <div class="row mt-3">
    <div class="col-sm-3"></div>
    <div class="col-sm-5 d-flex justify-content-center m-5 rounded" style="background-color:  #6cb0e7;">
        <form class="form-row mt-4" method="POST" enctype="multipart/form-data">                 
            <div class="form-group">    
                <b>ETA DATE PQ NOC</b><br><input type=date class="form form-control" placeholder="Enter field 1"name="f1"><br>
                <b>JOB NO FSSAI NOC</b><br> <input type=text class="form form-control" placeholder="Enter field 2"name="f2">
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d02"><br>
                <b>IMPORTER KYC</b><br> <input type=text class="form form-control" placeholder="Enter field 3"name='f3'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d03"><br>
                <b>SHIPPER BL</b><br> <input type=text class="form form-control" placeholder="Enter field 4"name='f4'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d04"><br>
                <b>NO. OF PCKGS DELIVERY ORDER</b><br> <input type=text class="form form-control" placeholder="Enter field 5"name='f5'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d05"><br>
                <b>INVOICE NUMBER</b><br> <input type=text class="form form-control" placeholder="Enter field 6"name='f6'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d06"><br>
                <b>COMMODITY COO</b><br> <input type=text class="form form-control" placeholder="Enter field 7"name='f7'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d07"><br>
                <b>BILL OF ENTRY</b><br> <input type=text class="form form-control" placeholder="Enter field 8"name='f8'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d08"><br>
                <b>BE DATE EXM ORDER</b><br> <input type=date class="form form-control" placeholder="Enter field 9"name='f9'><br>
                <b>CONTAINER NO PACKING LIST</b><br> <input type=text class="form form-control" placeholder="Enter field 10"name='f10'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d10"><br>
                <b> PHYTO CERT</b><br> <input type=text class="form form-control" placeholder="Enter field 11"name='f11'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d11"><br>
                <b>STAMP DUTY</b><br> <input type=text class="form form-control" placeholder="Enter field 12"name='f12'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d12"><br>
                <b>YIELD CERT</b><br> <input type=text class="form form-control" placeholder="Enter field 13"name='f13'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d13"><br>
                <b>SHIPPING RECEIPT</b><br> <input type=text class="form form-control" placeholder="Enter field 14"name='f14'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d14"><br>
                <b>CFS RECEIPT</b><br> <input type=text class="form form-control" placeholder="Enter field 15"name='f15'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d15" ><br>
                <b>DUTY RECEIPT</b><br> <input type=text class="form form-control" placeholder="Enter field 16"name='f16'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d16" ><br>   
                <b>PQ RECEIPT</b><br> <input type=text class="form form-control" placeholder="Enter field 17"name='f17'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d17"><br>
                <b>FSSAI RECEIPT</b><br> <input type=text class="form form-control" placeholder="Enter field 18"name='f18'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d18"><br>
                <b>SURVEY RECEIPT</b><br> <input type=text class="form form-control" placeholder="Enter field 19"name='f19'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d19"><br>
                <b>OTHER RECEIPTS</b><br> <input type=text class="form form-control" placeholder="Enter field 20"name='f20'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d20"><br>
                <b>RBA BILL PART A</b><br> <input type=text class="form form-control" placeholder="Enter field 21"name='f21'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d21"><br>
                <b>RBA BILL PART B</b><br> <input type=text class="form form-control" placeholder="Enter field 22"name='f22'>
                <input type="file"class="  form-control-file" accept="application/pdf,image/jpg"style="margin-top:10px;margin-bottom:10px;" name="d22"><br>
                <center><button type="Submit" class="btn  btn-outline-light mb-1 bold" value="Upload" name='Upload'><i class="fa fa-upload" aria-hidden="true"> <U>Upload</U></i></button></center>
                                        
            </div>
        </form>
        <button class="btn btn-outline-light"style="position: absolute;left: 15px;top: 40px;" ><i class='fas fa-arrow-alt-circle-left' aria-hidden="true"></i> <u>Back</u></button>
    </div>
    <div class="col-sm-2"></div>
</div>
</body>
</html>